
AddHandler cgi-script .pl

Options +ExecCGI

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !/panel/.*

RewriteCond %{REQUEST_FILENAME} !/frontend/.*

RewriteRule ^(.*)$ index.php/$1 [L]